<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials/head.html :: head('Profile')}">

</head>
<body>

<header th:replace="~{partials/header.html :: header}"></header>

<main>
    <section class="container">
        <div class="row mb-4">
            <div class="col me-3">
                <h1 th:text="${honeydoer.user.firstName} + ' ' + ${honeydoer.user.lastName}"></h1>
                <div class="row mb-5">
                    <div class="col">
                        <img th:src="@{/img/team/travis.png}" class="h-100 w-100 rounded-circle"/>
                    </div>
                    <div class="col-8 align-self-center">
                        <h2 th:text="${service.services.name}"></h2>
                        <p th:text="'$' + ${service.rate} + '/hr'" class="card-title">Rate $/hr</p>
                        <p th:text="${honeydoer.rating}">Stars</p>
                    </div>
                </div>
                <div class="row">
                    <p th:text="${service.services.name} + ' Experience'">Service Experience</p>
                    <p th:text="${service.aboutService}">Experience Description</p>
                </div>
            </div>
            <div class="col">
                <img th:src="@{/img/heroes/about.png}" class="img-fluid"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Current Month</h2>
                <img th:src="@{/img/team/travis.png}" class="img-fluid"/>
                <label for="time-select">Select start time</label>
                <select id="time-select">
                    <option>
                        6:00am
                    </option>
                </select>
            </div>
            <div class="col me-3">
                <select id="duration-select">
                    <option>1 hour</option>
                </select>
                <textarea>

                </textarea>
            </div>

        </div>
    </section>

    <section class="container-fluid">
        <div>
            <h2 class="text-center">Upload images for your project</h2>
            <label for="project_img">Project Photo:</label><br>
            <div class="mb-4">
                <input type="file" class="form-control form-control-lg" id="project_img"
                       name="project_img">
            </div>
        </div>
    </section>

    <section class="container">
        <h2>Your LAWN service proposal to RICHARD</h2>
        <div class="row row-cols-3 g-3">
            <article class="col border border-light border-1">
                <div class="card">
                    <div class="card-header">
                        <p>Stars</p>
                    </div>
                    <div class="card-body">
                        <p>MONEY LOGIC GOES HERE</p>
                    </div>
                    <div class="card-footer">
                        <button>Submit Proposal</button>
                    </div>
                </div>
            </article>
        </div>
    </section>

</main>
<footer th:replace="~{partials/footer.html :: footer}"></footer>
</body>
</html>