<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials/head.html :: head('Profile')}">

</head>
<body>

<header th:replace="~{partials/header.html :: header}"></header>

<main>
    <section class="container">
        <div class="row mb-4">
            <div class="col-lg-6 col-md-12">
                <h1>
                    <span th:text="${honeydoer.user.firstName} + ' ' + ${honeydoer.user.lastName}"></span>
                    <span>(</span>
                    <span><svg th:replace="~{partials/star.html :: fullStarBig}"></svg></span>
                    <span th:text="${honeydoer.rating}">Stars</span>
                    <span>)</span>
                </h1>

                <div class="row mb-5">
                    <div class="col-lg-4 col-md-4">
                        <th:block th:each="profile : ${userProfiles}">
                            <th:block th:if="${profile.id} == ${honeydoer.user.id}">
                                <img th:src="@{${profile.imgFilePath}}" class="ratio ratio-1x1 w-100 rounded-circle">
                            </th:block>
                        </th:block>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <h2 th:text="${service.services.name}"></h2>
                        <p th:text="${honeydoer.user.firstName} + '\'s Experience'">Service Experience</p>
                        <p th:text="${service.aboutService}">Experience Description</p>
                        <p id="rate"  th:text="'$' + ${service.rate} + '/hr'" class="card-title">Rate $/hr</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <img th:src="@{{serviceImg}(serviceImg = ${service.services.imgFilePath})}" class="img-fluid"/>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-5">
                <form
                      th:action="@{/services/bookService}"
                      th:object="${newTask}"
                      th:method="post" oninput="updateCard()"
                >
                  
                   <!-- th:action="@{'/services/bookService/' + ${honeydoer.id} + '/' + ${service.id}}"
                        th:object="${newTask}"
                        th:method="post" oninput="updateCard()" onchange="updateCard()" -->
                  
                    <div class="mb-4">
                        <h2 th:text="${#dates.format(#dates.createNow(), 'MMMM')}">Current Month</h2>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <label for="start-date">Start Date:</label>
                            <input type="date" id="start-date" name="start-date" value="" min="2018-01-01"
                                   max="2030-30-12"
                                   th:field="*{dateAssigned}" class="form-control">
                        </div>
                        <div class="col">
                            <label for="start-time">Start Time:</label>
                            <input type="time" id="start-time" class="form-control"
                                   th:field="*{timeStart}">
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <label for="budget-duration">Job Duration: </label>
                            <input id="budget-duration" class="form-control" th:field="*{budgetedDuration}"
                                   type="number" step="0.5" min="0" max="10" list="budget-duration"/>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="details">Job Description:</label>
                        <textarea id="details" name="details" maxlength="250" th:field="*{taskDetails}"
                                  class="form-control"></textarea>
                    </div>
                    <input type="hidden" name="honeydoerServiceId" th:value="${service.id}">
                    <input type="hidden" id="honeyderServiceRate" name="honeydoerServiceRate" th:value="${service.rate}">
                    <input type="hidden" name="honeyUserId" th:value="${user.id}">
                    <input type="hidden" name="honeydoerId" th:value="${honeydoer.id}">


                    <div class="field">
                        <div class="control mb-3">
                            <label for="fileupload">Select a file to upload</label>
                            <input type="hidden" id="fileupload">
                            <button class="btn btn-warning" type="button" id="picker">Pick file</button>
                        </div>
                        <div id="thumbnail-container mb-3"></div>
                        <div class="control" id="nameBox"></div>
                        <div class="control mb-3" id="urlBox"></div>
                    </div>

                    <button type="submit" class="btn btn-warning ">Submit Proposal</button>
                </form>

            </div>

            <!-- with some help of the internet, baeldung and chat, was able to get the calendar
             to only accept tomorrow's date and 4 weeks from now. js at the bottom. Not having ISO script was
             a fun issue... anyways, this is looking great! need any help, just reach out and i'll come by and help
             happy coding! -->

            <div class="col-lg-8 col-md-12 ">
                <h2 th:text="'Your ' + ${service.services.name} + ' service proposal to ' + ${honeydoer.user.firstName}">
                    Your X service proposal to X
                </h2>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Start Date: (YYYY-MM-DD)</h5>
                        <p class="card-text" id="card-start-date">Your start date goes here</p>
                    </div>
                    <hr>
                    <div class="card-body">
                        <h5 class="card-title">Start Time:</h5>
                        <p class="card-text" id="card-start-time">Your start time goes here</p>
                        <p class="card-text" id="card-start-time-ampm">AM/PM</p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Duration: </h5>
                        <p id="card-duration" class="card-text">Duration goes here</p>
                    </div>
                    <hr>
                    <div class="card-body">
                        <h5 class="card-title">Job Description:</h5>
                        <p class="card-text" id="card-job-description">Your job description goes here</p>
                    </div>
                    <hr>
                    <div class="card-body">
                        <h5 class="card-title">Costs: </h5>
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>Job Cost</td>
                                <td id="card-job-cost" class="card-text"></td>
                            </tr>
                            <tr>
                                <td> Site Fee (10%)</td>
                                <td id="card-site-cost" class="card-text"></td>
                            </tr>
                            <tr>
                                <td>Taxes (8.25%)</td>
                                <td id="card-tax-cost" class="card-text"></td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td id="card-total-cost" class="card-text"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--push> -->
    <section class="container-fluid">
        <div>
            <h2 class="text-center">Upload images for your project</h2>
            <label for="project_img">Project Photo:</label><br>
            <div class="mb-4">
                <input type="file" class="form-control form-control-lg" id="project_img"
                       name="project_img">
            </div>
        </div>


        <!--        <p th:text="${filestackKey}"></p>-->
        <!--        <p th:value="${filestackKey}"></p>-->
    </section>
</main>
<footer th:replace="~{partials/footer.html :: footer}"></footer>
<script>
    function updateCard() {
        var startDate = document.getElementById('start-date').value;
        var startTime = document.getElementById('start-time').value;
        var jobDescription = document.getElementById('details').value;
        var budgetDuration = parseFloat(document.getElementById('budget-duration').value);
        var rate = parseFloat(document.getElementById('honeyderServiceRate').value);

        var [hour, minute] = startTime.split(':');
        var ampm = 'AM';
        hour = parseInt(hour);
        if (hour >= 12) {
            ampm = 'PM';
            if (hour > 12) {
                hour -= 12;
            }
        }

        // LOGIC FOR MONEY
        const TAX = .0825;
        const SITE_FEE = .1;

        var jobCost = (rate * budgetDuration);
        var siteFeeCost = (jobCost * SITE_FEE);
        var taxCost = (jobCost * TAX);

        var totalCost = (jobCost) + (siteFeeCost) + (taxCost);


        // Set results in DOM
        document.getElementById('card-start-date').textContent = startDate;
        document.getElementById('card-start-time').textContent = startTime;
        document.getElementById('card-start-time-ampm').textContent = ampm;
        document.getElementById('card-job-description').textContent = jobDescription;

        document.getElementById('card-duration').textContent = budgetDuration + ' hour(s)';

        document.getElementById('card-job-cost').textContent = '$' + jobCost.toFixed(2);
        document.getElementById('card-site-cost').textContent = '$' + siteFeeCost.toFixed(2);
        document.getElementById('card-tax-cost').textContent = '$' + taxCost.toFixed(2);
        document.getElementById('card-total-cost').textContent = '$' + totalCost.toFixed(2);

    }


</script>

<script>
    const currentDate = new Date().getDate();

    const tomorrow = new Date();
    tomorrow.setDate(currentDate + 1);

    const maxDate = new Date();
    maxDate.setDate(currentDate + 28);

    // Format the dates in YYYY-MM-DD format
    const tomorrowFormatted = tomorrow.toISOString().split('T')[0];
    const maxDateFormatted = maxDate.toISOString().split('T')[0];

    document.getElementById('start-date').setAttribute('min', tomorrowFormatted);
    document.getElementById('start-date').setAttribute('max', maxDateFormatted);
</script>
<script th:replace="~{partials/filestack.html :: filestackScript}"></script>
</body>
</html>