<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{partials/head.html :: head('Service Categories')}">

</head>

<body>

<header th:replace="~{partials/header.html :: header}"></header>

<main>
    <section class="container py-5">
        <h1>Service Categories</h1>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4" th:each="item : ${categories}">
                <div class="card h-100">
                    <img th:src="@{{serviceImg}(serviceImg=${item.img_file_path})}" class="card-img-top" alt="Service Image">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${item.name}">Service Name</h5>
                        <p class="card-text" th:text="${item.description}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi consectetur cupiditate vitae. Assumenda corporis deleniti illo in iusto maiores molestiae nostrum recusandae reprehenderit tenetur!</p>
                    </div>
                    <div class="card-footer">
                        <a th:href="@{/categories/{categoryID}(categoryID=${item.id})}" th:text="${'Go to ' + item.name}" class="btn btn-warning">Edit Skills</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<footer th:replace="~{partials/footer.html :: footer}"></footer>

</body>

</html>
