<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials/head.html :: head('About')}">

</head>
<body>

<header th:replace="~{partials/header.html :: header}"></header>

<main>
    <section class="container">
        <h1 th:text="${service.name}">Service</h1>
        <div class="row">
            <img th:src="@{{serviceImg}(serviceImg = ${service.imgFilePath})}" class="img-fluid mb-4"/>
            <h2 th:text="${service.description}">Lorem ipsum dolor</h2>
        </div>
    </section>
    <section class="container-fluid">
        <div class="row">
            <h2>Featured Elite Honeydoers</h2>
            <div class="row row-cols-3 g-3">
                <article class="col">
                    <div class="card">
                        <div class="card-header">
                            <img  th:src="@{/img/team/travis.png}" class="img-fluid"/>
                        </div>
                        <div class="card-body">
                            <p>category</p>
                            <p class="card-title">
<!--                                <span th:text="${name}"></span>-->
                            </p>
                            <p> Stars</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi consectetur cupiditate vitae. Assumenda corporis deleniti illo in iusto maiores molestiae nostrum recusandae reprehenderit tenetur!</p>
                            <a href="#">Read more</a>
                        </div>
                        <div class="card-footer">
                            <a type="button" class="btn btn-warning" href="#">Book <span th:text="${name}"></span></a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <section class="container">
        <h2>Available workers in your area</h2>
        <div th:with="honeydoerSize=${#numbers.sequence(0, honeydoerServices.size()-1)}" class="row row-cols-3 g-3">
            <article th:each="index : ${honeydoerSize}" class="col">
                <div class="card">
                    <div class="card-header">
                        <th:block th:each="profile : ${userProfiles}">
                            <th:block th:if="${profile.id} == ${honeydoerServices[index].honeydoers.user.id}">
                                <img th:src="@{${profile.imgFilePath}}" class="img-fluid">
                            </th:block>
                        </th:block>
                    </div>
                    <div class="card-body">
                        <p th:text="${honeydoerServices[index].services.name}">Service</p>
                        <p th:text="${honeydoerServices[index].honeydoers.user.firstName}" class="card-title">Name</p>
                        <p th:text="${honeydoerServices[index].honeydoers.rating}">Rating</p>
                        <p th:text="${honeydoerServices[index].aboutService}">Experience</p>
                        <a href="#" th:href="@{/services/honeydoer/{honeydoerId}/{serviceId}
                            (honeydoerId=${honeydoerServices[index].honeydoers.id},
                            serviceId=${honeydoerServices[index].services.id})}"
                        >Read more</a>
                    </div>
                    <div class="card-footer">
                        <a type="button" class="btn btn-warning" href="#"
                           th:href="@{/services/bookService/{honeydoerId}/{serviceId}
                           (honeydoerId=${honeydoerServices[index].honeydoers.id},
                           serviceId=${honeydoerServices[index].services.id})}"
                        >Book Service</a>
                    </div>
                </div>
            </article>
        </div>
    </section>
</main>

<footer th:replace="~{partials/footer.html :: footer}"></footer>
</body>
</html>