<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials/head.html :: head('Honey Todo')}">

</head>
<body>

<header th:replace="~{partials/header.html :: header}"></header>

<main>
    <section class="container">
        <h1 th:text="${task.user.firstName} + '\'s Honey Todo'"></h1>
        <div class="row row-cols-1 row-cols-md-2 g-5">
            <div class="col order-2 order-md-1">
                <div class="mb-3">
                    <p th:text="${task.honeydoerService.services.name}"
                    class="bold mb-0">Task type</p>
                    <hr>
                    <p th:text="${task.taskDetails}"
                    class="mb-5">Task Details</p>
                </div>
                <div class="mb-3">
                    <div class="row row-cols-2 g-3 d-flex align-items-center mb-3">
                        <div class="col-3">
                            <th:block th:each="profile : ${userProfiles}">
                                <th:block th:if="${profile.id} == ${task.user.id}">
                                    <img th:src="@{${profile.imgFilePath}}" class="ratio ratio-1x1 w-100 rounded-circle">
                                </th:block>
                            </th:block>
                        </div>

                        <div class="col-9">
                            <span th:text="${task.user.firstName}">Name</span>
                        </div>
                    </div>

                    <div class="row row-cols-2 g-3 d-flex align-items-center mb-3">
                        <div class="col-3">
                            <th:block th:each="profile : ${userProfiles}">
                                <th:block th:if="${profile.id} == ${task.honeydoerService.honeydoers.user.id}">
                                    <img th:src="@{${profile.imgFilePath}}" class="ratio ratio-1x1 w-100 rounded-circle">
                                </th:block>
                            </th:block>
                        </div>

                        <div class="col-9">
                            <span th:text="${task.honeydoerService.honeydoers.user.firstName}">Name</span>
                            <span>(</span>
                            <span><svg th:replace="~{partials/star.html :: fullStar}"></svg></span>
                            <span th:text="${task.honeydoerService.honeydoers.rating}">Stars</span>
                            <span>)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col order-1 order-md-2">
                <img th:src="@{{serviceImg}(serviceImg = ${task.honeydoerService.services.imgFilePath})}" class="img-fluid"/>
            </div>
        </div>
    </section>

    <section class="container-fluid bar">
        <th:block th:if="${task.isAccepted == true && task.isCompleted == false}">
            <div>
                <h2 th:text="'Accepted Project Proposal'" class="text-center">Project Status</h2>
                <p th:text="${task.dateAssigned} + ' at ' + ${task.timeStart} + ' for ' + ${task.budgetedDuration} + ' hours'" class="bg-color-primary-dark color-neutral-light p-2">Task Date Assigned</p>

                <p>Honeydoer Pay: <span th:text="${task_cost.honeydoerPay}" class="rate"></span></p>
                <p>Honeydoer Helper Fee: <span th:text="${task_cost.sitePay}" class="rate"></span></p>
                <p>Taxes: <span th:text="${task_cost.taxes}" class="rate"></span></p>
                <h3 class="color-neutral-light">Total Cost: <span th:text="${task_cost.totalUserCost}" class="rate"></span></h3>
                <th:block th:if="${isHoneydoer}">
                    <form th:action="@{'/tasks/update'}" th:method="post">
                        <input type="hidden" name="todo-status" th:value="${'Completed'}">
                        <input type="hidden" name="task-id" th:value="${task.id}">
                        <button class="btn btn-warning">Complete Todo</button>
                    </form>
                </th:block>
            </div>
        </th:block>

        <th:block th:if="${task.isDeclined == true}">
            <div>
                <h2 th:text="'Declined Project Proposal'" class="text-center">Project Status</h2>
                <p th:text="${task.dateAssigned} + ' at ' + ${task.timeStart} + ' for ' + ${task.budgetedDuration} + ' hours'" class="bg-color-primary-dark color-neutral-light p-2">Task Date Assigned</p>

                <p>Honeydoer Pay: <span th:text="${task_cost.honeydoerPay}" class="rate"></span></p>
                <p>Honeydoer Helper Fee: <span th:text="${task_cost.sitePay}" class="rate"></span></p>
                <p>Taxes: <span th:text="${task_cost.taxes}" class="rate"></span></p>
                <h3 class="color-neutral-light">Total Cost: <span th:text="${task_cost.totalUserCost}" class="rate"></span></h3>
            </div>
        </th:block>

        <th:block th:if="${task.isAccepted == false  && task.isDeclined == false}">
            <div>
                <h2 th:text="'Pending Project Proposal'" class="text-center">Project Status</h2>
                <p th:text="${task.dateAssigned} + ' at ' + ${task.timeStart} + ' for ' + ${task.budgetedDuration} + ' hours'" class="bg-color-primary-dark color-neutral-light p-2">Task Date Assigned</p>

                <p>Honeydoer Pay: <span th:text="${task_cost.honeydoerPay}" class="rate"></span></p>
                <p>Honeydoer Helper Fee: <span th:text="${task_cost.sitePay}" class="rate"></span></p>
                <p>Taxes: <span th:text="${task_cost.taxes}" class="rate"></span></p>
                <h3 class="color-neutral-light">Total Cost: <span th:text="${task_cost.totalUserCost}" class="rate"></span></h3>
                <th:block th:if="${isHoneydoer}">
                    <form th:action="@{'/tasks/update'}" th:method="post">
                        <input type="hidden" name="todo-status" th:value="${'Accepted'}">
                        <input type="hidden" name="task-id" th:value="${task.id}">
                        <button class="btn btn-warning">Accept Todo</button>
                    </form>

                    <form th:action="@{'/tasks/update'}" th:method="post">
                        <input type="hidden" name="todo-status" th:value="${'Declined'}">
                        <input type="hidden" name="task-id" th:value="${task.id}">
                        <button class="btn btn-danger">Decline Todo</button>
                    </form>
                </th:block>
                <th:block th:if="${!isHoneydoer}">
                    <form th:action="@{'/tasks/update'}" th:method="post">
                        <input type="hidden" name="todo-status" th:value="${'Declined'}">
                        <input type="hidden" name="task-id" th:value="${task.id}">
                        <button class="btn btn-danger">Cancel Todo</button>
                    </form>
                </th:block>
            </div>
        </th:block>

        <th:block th:if="${task.isCompleted == true }">
            <div>
                <h2 th:text="'Completed Project'" class="text-center">Project Status</h2>
                <p th:text="${task.dateAssigned} + ' at ' + ${task.timeStart} + ' for ' + ${task.budgetedDuration} + ' hours'" class="bg-color-primary-dark color-neutral-light p-2">Task Date Assigned</p>

                <p>Honeydoer Pay: <span th:text="${task_cost.honeydoerPay}" class="rate"></span></p>
                <p>Honeydoer Helper Fee: <span th:text="${task_cost.sitePay}" class="rate"></span></p>
                <p>Taxes: <span th:text="${task_cost.taxes}" class="rate"></span></p>
                <h3 class="color-neutral-light">Total Cost: <span th:text="${task_cost.totalUserCost}" class="rate"></span></h3>

                <th:block th:if="${!isHoneydoer && honeydoerReviewed == false}">
                    <form th:action="@{'/tasks/review'}" th:method="post">
                        <input type="hidden" name="isHoneydoer" th:value="${false}">
                        <input type="hidden" name="task-id" th:value="${task.id}">
                        <input type="hidden" name="review-id" th:value="${task.honeydoerService.honeydoers.id}">

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" maxlength="240"
                                   id="comment-honeydoer" name="comment" placeholder="Leave a comment" required>
                            <label for="comment-honeydoer">Leave a comment</label>
                        </div>

                        <div class="form-floating mb-3">
                            <select class="form-control" id="stars-honeydoer" name="stars" required>
                                <option th:value="FIVE">5 <span><svg th:replace="~{partials/star.html :: fullStar}"></svg></span></option>
                                <option th:value="FOUR">4 <span><svg th:replace="~{partials/star.html :: fullStar}"></svg></span></option>
                                <option th:value="THREE">3 <span><svg th:replace="~{partials/star.html :: fullStar}"></svg></span></option>
                                <option th:value="TWO">2 <span><svg th:replace="~{partials/star.html :: fullStar}"></svg></span></option>
                                <option th:value="ONE">1 <span><svg th:replace="~{partials/star.html :: fullStar}"></svg></span></option>
                            </select>
                            <label for="stars-honeydoer">Give Rating</label>
                        </div>

                        <button class="btn btn-warning">Submit</button>
                    </form>
                </th:block>

                <th:block th:if="${isHoneydoer && clientReviewed == false}">
                    <form th:action="@{'/tasks/review'}" th:method="post">
                        <input type="hidden" name="isHoneydoer" th:value="${true}">
                        <input type="hidden" name="task-id" th:value="${task.id}">
                        <input type="hidden" name="review-id" th:value="${task.user.id}">

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" maxlength="240"
                                   id="comment-honeyuser" name="comment" placeholder="Leave a comment" required>
                            <label for="comment-honeyuser">Leave a comment</label>
                        </div>

                        <div class="form-floating mb-3">

                            <select class="form-control" id="stars-honeyuser" name="stars" required>
                                <option th:value="FIVE">5 <span><svg th:replace="~{partials/star.html :: fullStar}"></svg></span></option>
                                <option th:value="FOUR">4 <span><svg th:replace="~{partials/star.html :: fullStar}"></svg></span></option>
                                <option th:value="THREE">3 <span><svg th:replace="~{partials/star.html :: fullStar}"></svg></span></option>
                                <option th:value="TWO">2 <span><svg th:replace="~{partials/star.html :: fullStar}"></svg></span></option>
                                <option th:value="ONE">1 <span><svg th:replace="~{partials/star.html :: fullStar}"></svg></span></option>
                            </select>
                            <label for="stars-honeyuser">Give Rating</label>
                        </div>

                        <button class="btn btn-warning">Submit</button>
                    </form>
                </th:block>
            </div>
        </th:block>
    </section>


</main>
<footer th:replace="~{partials/footer.html :: footer}"></footer>

<script>
    window.addEventListener('DOMContentLoaded', () => {
        const rateElements = document.querySelectorAll('.rate');
        rateElements.forEach(element => {
            const rate = parseFloat(element.textContent);
            const formattedRate = rate.toFixed(2);
            element.textContent = '$' + formattedRate;
        });
    });
</script>
</body>
</html>