<!-- Not sure what i was doing wrong, but i am keeping
the script in here to keep the htmls clean -->

<script th:fragment="filestackScript">
  // Set up the picker
  const client = filestack.init('AWtdV2qMYRj65gTN17b7az');
  const options = {
    fromSources: ["local_file_system", "instagram", "facebook","picasa"],
    onUploadDone: updateForm,
    maxSize: 10 * 1024 * 1024,
    accept: 'image/*',
    uploadInBackground: false,
  };
  const picker = client.picker(options);

  // Get references to the DOM elements

  const fileInput = document.getElementById('fileupload');
  const btn = document.getElementById('picker');
  const nameBox = document.getElementById('nameBox');
  const urlBox = document.getElementById('urlBox');

  // Add our event listeners

  btn.addEventListener('click', function (e) {
    e.preventDefault();
    picker.open();
  });

  // Helper to overwrite the field input value

  function updateForm (result) {
    const fileData = result.filesUploaded[0];
    fileInput.value = fileData.url;

    // If file is resizable image, resize and embed it as a thumbnail preview
    if (['jpeg', 'png'].indexOf(fileData.mimetype.split('/')[1]) !== -1) {
      const container = document.getElementById('thumbnail-container');
      const thumbnail = document.getElementById('thumbnail') || new Image();
      thumbnail.id = 'thumbnail';
      thumbnail.src = client.transform(fileData.handle, {
        resize: {
          width: 200
        }
      });

      if (!container.contains(thumbnail)) {
        container.appendChild(thumbnail);
      }
    }

    // console.log(JSON.stringify(result))
    // Some ugly DOM code to show some data.
    // const name = document.createTextNode('Selected: ' + fileData.filename);
    const url = document.createElement('a');
    url.href = fileData.url;
    // url.appendChild(document.createTextNode(fileData.url));
    // nameBox.appendChild(name);

      // Create the hidden input element
      const hiddenInput = document.createElement('input');
      hiddenInput.type = 'hidden';
      hiddenInput.name = 'image_url';
      hiddenInput.setAttribute('value', url);

      // Append the hidden input element to the urlBox
      urlBox.appendChild(hiddenInput);
  };
</script>