<footer th:fragment="footer" class="bg-color-neutral-light">
  <nav class="container-fluid bg-color-neutral-light px-3 py-5">
    <div class="d-flex justify-content-between">
      <a class="navbar-brand" href="/">Honeydo Helper</a>
      <ul class="navbar-nav list-group list-group-horizontal">
        <li class="nav-item mx-2">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="/support">Support</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="/services">Services</a>
        </li>
      </ul>
      <div>
        icons go here
      </div>
    </div>
    <hr>
    <div class="d-flex justify-content-center">
      <div class="mx-2">
        2023 All rights reserved
      </div>
      <div class="mx-2">
        Privacy Policy
      </div>
      <div class="mx-2">
        Terms of Service
      </div>
      <div class="mx-2">
        Cookies Settings
      </div>
    </div>
  </nav>
</footer>