<header th:fragment="header" class="bg-color-neutral-light" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar fixed-top navbar-expand-lg px-3 bg-color-neutral-light">
        <div class="container-fluid">
            <div class="d-flex justify-content-start align-items-center">
                <a class="navbar-brand" href="/index">
                    <img th:src="@{/img/logoSimple.svg}" alt="Honeydo Helper Logo" class="logo-small" />
                </a>
                <a class="navbar-brand d-none d-lg-block" href="/index">Honeydo Helper</a>
            </div>

            <th:block sec:authorize="isAuthenticated()">
                <div class="d-flex">
                    <a class="btn btn-warning mx-3 d-lg-none" href="/dashboard">Profile</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </th:block>

            <th:block sec:authorize="!isAuthenticated()">
                <div class="d-flex">
                    <a class="btn btn-warning mx-3 d-lg-none" href="/register">Join us!</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </th:block>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header bg-color-neutral-light">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Honeydo Helper</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body bg-color-neutral-light">
                    <ul class="navbar-nav justify-content-start justify-content-lg-end flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" href="/index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/support">Support</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/services" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Services
                            </a>
                            <ul class="dropdown-menu bg-color-neutral-light">
                                <li th:each="category : ${categories}">
                                    <a class="dropdown-item" th:href="@{/categories/{categoryId}(categoryId=${category.id})}" th:text="${category.name + ' Service'}">Service Name</a>
                                </li>
                            </ul>
                        </li>

                        <th:block sec:authorize="isAuthenticated()">
                            <li class="nav-item my-3 my-lg-0 mx-lg-3">
                                <a class="btn btn-outline-secondary" href="/dashboard">Profile</a>
                            </li>
                            <li class="nav-item">
                                <form th:action="@{/logout}" th:method="post">
                                    <button class="btn btn-warning">Logout</button>
                                </form>
                            </li>
                        </th:block>
                        <th:block sec:authorize="!isAuthenticated()">
                            <li class="nav-item my-3 my-lg-0 mx-lg-3">
                                <a class="btn btn-outline-secondary" href="/login">Log in</a>
                            </li>

                            <li class="nav-item">
                                <a class="btn btn-warning" href="/register/user">Become a Honeydoer!</a>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>