<a th:fragment="task" class="row row-cols-2 g-3 text-decoration-none color-neutral-dark my-2"
   th:href="@{/tasks/{taskid}(taskid = ${tasks[index].id})}"
>
  <div class="col-3 col-sm-2 col-md-1 col-lg-2 align-self-center">
    <th:block th:each="profile : ${userProfiles}">
      <th:block th:if="${profile.id} == ${tasks[index].user.id}">
        <img th:src="@{${profile.imgFilePath}}" class="img-fluid rounded-circle align-self-center">
      </th:block>
    </th:block>
  </div>

  <div class="col">
    <div class="d-flex flex-column justify-content-center">
      <p th:text="'Date: ' + ${tasks[index].dateAssigned}" class="text-start lh-sm">Date</p>
      <p th:text="'Service: ' + ${tasks[index].honeydoerService.services.name}" class="text-start lh-sm">Service</p>
    </div>
  </div>
</a>
