<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials/head.html :: head('Profile')}">

</head>
<body>

<header th:replace="~{partials/header.html :: header}"></header>

<main>
    <section class="container">
        <div class="row">
            <h1 th:text="'Hello, ' + ${honeydoer.user.firstName}">Hello, Honeydoer</h1>
            <div class="col me-3">
                <h2>Upcoming Tasks</h2>

                <th:block th:if="${tasks.size() <= 0}">
                    <p>No tasks available.</p>
                </th:block>
                <th:block th:unless="${tasks.size() <= 0}">
                    <div th:with="tasksSize=${#numbers.sequence(0, tasks.size()-1)}">
                        <div th:if="${!tasks.isEmpty()}" th:each="index : ${tasksSize}" class="row">
                            <div class="col-2 align-self-center">
                                <img th:src="@{/img/team/travis.png}" class="h-100 w-100 rounded-circle"/>
                            </div>
                            <div class="col align-self-center">
                                <p th:text="'Date: ' + ${tasks[index].dateAssigned}" class="text-start">Date</p>
                                <p th:text="'Service: ' + ${tasks[index].honeydoerService.services.name}" class="text-start">Service</p>
                            </div>
                        </div>
                    </div>
                </th:block>



            </div>
            <div class="col">
                <div class="row row-cols-2 mb-4">
                    <div class="col border border-1 border-light">
                        <article class="col border border-dark-subtle border-1 ratio ratio-1x1">
                            <div class="card p-0">
                                <div class="card-body position-relative p-0">
                                    <img th:src="@{/img/team/travis.png}" class="img-fluid"/>
                                    <a th:href="@{/edit/profile}" href="" class="btn btn-warning position-absolute bottom-0 end-0">Edit Profile</a>
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="col border border-1 border-light">
                        <article class="col border border-dark-subtle border-1 ratio ratio-1x1">
                            <div class="card p-0">
                                <div class="card-body position-relative p-0">
                                    <img th:src="@{/img/team/travis.png}" class="img-fluid"/>
                                    <button class="btn btn-warning position-absolute bottom-0 end-0">View Earnings</button>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="row">
                    <div class="col border border-1 border-light">
                        <article class="col border border-dark-subtle border-1">
                            <div class="card p-0">
                                <div class="card-body position-relative p-0">
                                    <img th:src="@{/img/heroes/about.png}" class="img-fluid"/>
                                    <button class="btn btn-warning position-absolute bottom-0 end-0">Past Projects</button>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid">
        <h2>Current Proposals</h2>
        <div class="row row-cols-3 g-3">
            <article class="col border border-light border-1">
                <div class="card">
                    <div class="card-header">
                        <p>Service Type</p>
                    </div>
                    <div class="card-body">
                        <p>Date</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi exercitationem illo inventore optio praesentium quia recusandae rem soluta veritatis?</p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col align-self-center">
                                <p>Proposed pay</p>
                            </div>
                            <div class="col align-self-center">
                                <button class="btn btn-light">View Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>

    <section th:replace="~{partials/honeydoerRatings.html :: ratings}"></section>

</main>
<footer th:replace="~{partials/footer.html :: footer}"></footer>
</body>
</html>