<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{partials/head.html :: head('Profile')}">
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .custom-img {
            max-height: 250px;
            object-fit: cover;
        }
    </style>
</head>

<body>

<header th:replace="~{partials/header.html :: header}"></header>

<main>
    <section class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <h1 th:text="'Hello, ' + ${user.firstName}">Hello, User</h1>
                <div class="card mb-3">
                    <img th:src="@{${userProfile.imgFilePath}}" class="card-img-top img-fluid custom-img" alt="User Profile Image">
                    <div class="card-body">
                        <a th:href="@{/edit/profile}" class="btn btn-warning btn-block">Edit Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <h2>Proposals</h2>
                <article class="card border border-dark-subtle container-fluid" th:each="service : ${services}">
                    <div class="card-header">
                        <p th:text="${service.serviceType}">Service Type</p>
                    </div>
                    <div class="card-body">
                        <p th:text="${service.date}">Date</p>
                        <p th:text="${service.description}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi exercitationem</p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-6">
                                <a th:href="@{'/tasks/' + ${service.id}}" class="btn btn-light btn-block">View Proposal</a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
</main>

<footer th:replace="~{partials/footer.html :: footer}"></footer>

<!-- Add Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous"></script>
</body>

</html>
