<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{partials/head.html :: head('Profile')}"></head>
<body>

<header th:replace="~{partials/header.html :: header}"></header>

<main>
    <section class="container">
        <h1 th:text="'Hello, ' + ${user.firstName}">Hello, User</h1>
        <div class="row">
            <div class="col-12 col-lg">
                <div class="row mb-4">
                    <article class="card">
                        <div class="card-header d-flex justify-content-center">
                            <img th:src="@{${userProfile.imgFilePath}}" class="img-fluid"/>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-start">
                                <a th:href="@{/edit/profile}" href="" class="btn btn-warning">Edit Profile</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>

            <div class="col-12 col-lg me-3">
                <h2>Upcoming Tasks</h2>
                <th:block th:if="${tasks.size() <= 0}">
                    <p>No tasks available.</p>
                </th:block>

                <th:block th:unless="${tasks.size() <= 0}">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-home-tab"
                                    data-bs-toggle="pill" data-bs-target="#pills-home"
                                    type="button" role="tab" aria-controls="pills-home"
                                    aria-selected="true"
                            >Pending</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-profile-tab"
                                    data-bs-toggle="pill" data-bs-target="#pills-profile"
                                    type="button" role="tab" aria-controls="pills-profile"
                                    aria-selected="false"
                            >Accepted</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-contact-tab"
                                    data-bs-toggle="pill" data-bs-target="#pills-contact"
                                    type="button" role="tab" aria-controls="pills-contact"
                                    aria-selected="false"
                            >Completed</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-decline-tab"
                                    data-bs-toggle="pill" data-bs-target="#pills-decline"
                                    type="button" role="tab" aria-controls="pills-decline"
                                    aria-selected="false"
                            >Declined</button>
                        </li>
                    </ul>

                    <div class="tab-content" id="pills-tabContent">

                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <div th:with="tasksSize=${#numbers.sequence(0, tasks.size()-1)}">
                                <div th:if="${!tasks.isEmpty()}">
                                    <div th:each="index : ${tasksSize}">
                                        <th:block th:if="${!tasks[index].isAccepted && !tasks[index].isCompleted && !tasks[index].isDeclined}">
                                            <a th:replace="~{partials/task.html :: task}"></a>
                                        </th:block>
                                    </div>
                                </div>

                                <th:block th:unless="${!tasks.isEmpty()}">
                                    <h3>No pending tasks</h3>
                                </th:block>
                            </div>
                        </div>


                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <div th:with="tasksSize=${#numbers.sequence(0, tasks.size()-1)}">
                                <div th:if="${!tasks.isEmpty()}">
                                    <div th:each="index : ${tasksSize}">
                                        <th:block th:if="${tasks[index].isAccepted && !tasks[index].isCompleted && !tasks[index].isDeclined}">
                                            <a th:replace="~{partials/task.html :: task}"></a>
                                        </th:block>
                                    </div>
                                </div>

                                <th:block th:unless="${!tasks.isEmpty()}">
                                    <h3>No accepted tasks</h3>
                                </th:block>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                            <div th:with="tasksSize=${#numbers.sequence(0, tasks.size()-1)}">
                                <div th:if="${!tasks.isEmpty()}">
                                    <div th:each="index : ${tasksSize}">
                                        <th:block th:if="${tasks[index].isAccepted && tasks[index].isCompleted && !tasks[index].isDeclined}">
                                            <a th:replace="~{partials/task.html :: task}"></a>
                                        </th:block>
                                    </div>
                                </div>

                                <th:block th:unless="${!tasks.isEmpty()}">
                                    <h3>No completed tasks</h3>
                                </th:block>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-decline" role="tabpanel" aria-labelledby="pills-decline-tab">
                            <div th:with="tasksSize=${#numbers.sequence(0, tasks.size()-1)}">
                                <div th:if="${!tasks.isEmpty()}">
                                    <div th:each="index : ${tasksSize}">
                                        <th:block th:if="${tasks[index].isAccepted == false && tasks[index].isCompleted == false && tasks[index].isDeclined == true}">
                                            <a th:replace="~{partials/task.html :: task}"></a>
                                        </th:block>
                                    </div>
                                </div>

                                <th:block th:unless="${!tasks.isEmpty()}">
                                    <h3>No declined tasks</h3>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </section>

    <section th:replace="~{partials/clientRatings.html :: ratings}"></section>


</main>

<footer th:replace="~{partials/footer.html :: footer}"></footer>

</body>

</html>
