<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials/head.html :: head('Support')}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.4/font/bootstrap-icons.css">
    <
</head>
<body>

<header th:replace="~{partials/header.html :: header}"></header>

<main>
    <section class="container">
        <h1>FAQs</h1>
        <div class="accordion" id="faqAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header bg-color-neutral-light">
                    <button class="accordion-button collapsed bg-color-neutral-light" type="button"
                            data-bs-toggle="collapse" data-bs-target="#faq-0" aria-expanded="false"
                            aria-controls="faq-0">
                        <strong style="color: red;">HOW DO I RESET MY PASSWORD?</strong>
                    </button>
                </h2>
                <div id="faq-0" class="accordion-collapse collapse bg-color-neutral-light"
                     data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Contact us by email or either call or text the number below.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header bg-color-neutral-light">
                    <button class="accordion-button collapsed bg-color-neutral-light" type="button"
                            data-bs-toggle="collapse" data-bs-target="#faq-1" aria-expanded="false"
                            aria-controls="faq-1">
                        Why can't I find a Honeydoer in my area?
                    </button>
                </h2>
                <div id="faq-1" class="accordion-collapse collapse bg-color-neutral-light"
                     data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        There may not be any Honeydoers in your area because there aren't many support requests from your area. Inform your friends about this awesome service and I am sure that they will also recommend it to service providers in your area. As the demand comes, Honeydo Helpers will come with the support.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header bg-color-neutral-light">
                    <button class="accordion-button collapsed bg-color-neutral-light" type="button"
                            data-bs-toggle="collapse" data-bs-target="#faq-2" aria-expanded="false"
                            aria-controls="faq-2">
                        Are Honeydoers certified/licensed?
                    </button>
                </h2>
                <div id="faq-2" class="accordion-collapse collapse bg-color-neutral-light"
                     data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Honeydoers can very well be licensed but it is not a requirement. Many of your Honeydoers are bringing years of personal experience at a fraction of the cost. We are merely linking those needing help with those both willing and able to provide it. As such, if your job requires a professional or a specific license, be sure to reach out to someone who meets your needs and even suggest that they register and become a HONEYDOER!
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header bg-color-neutral-light">
                    <button class="accordion-button collapsed bg-color-neutral-light" type="button"
                            data-bs-toggle="collapse" data-bs-target="#faq-3" aria-expanded="false"
                            aria-controls="faq-3">
                        Can I ask for help and be a Honeydoer?
                    </button>
                </h2>
                <div id="faq-3" class="accordion-collapse collapse bg-color-neutral-light"
                     data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Of course you can. An HVAC professional is not a plumber, so he may need help in that area and a plumber oftentimes has no idea about masonry. We all have a role to play and can lean on one another. Allow your neighbors to help you trim down that Honey-Do List so there is more free time to spend with family.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header bg-color-neutral-light">
                    <button class="accordion-button collapsed bg-color-neutral-light" type="button"
                            data-bs-toggle="collapse" data-bs-target="#faq-4" aria-expanded="false"
                            aria-controls="faq-4">
                        Why Choose HoneyDo Helper?
                    </button>
                </h2>
                <div id="faq-4" class="accordion-collapse collapse bg-color-neutral-light"
                     data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        <p>At HoneyDo Helper, we go above and beyond to provide an exceptional experience for our users. Here's why you should choose us:</p>
                        <ul>
                            <li>Wide Range of Services: Whether it's home repairs, maintenance, cleaning, or any other task, our talented Honeydoers are equipped to handle it all.</li>
                            <li>Flexible Scheduling: We understand that everyone has unique schedules, so our platform allows you to find Honeydoers who are available at your preferred time and date.</li>
                            <li>Transparent Pricing: With HoneyDo Helper, you'll always know the cost upfront. Our Honeydoers provide transparent pricing, ensuring no surprises.</li>
                            <li>Quality Assurance: We take pride in delivering top-notch service. Our Honeydoers are carefully vetted to ensure they meet our quality standards and provide excellent service.</li>
                            <li>Easy Communication: Our in-app chat feature allows seamless communication between users and Honeydoers, ensuring clear and efficient coordination.</li>
                            <li>Verified Reviews: Read reviews and ratings from other users to make informed decisions and choose the right Honeydoer for your task.</li>
                        </ul>
                        <p>Experience the convenience, reliability, and quality service that HoneyDo Helper offers. <a href="/register">Join our community today!</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid">
        <div class="row row-cols-3 g-2">
            <div class="col-1"></div>
            <div class="col-10">
                <h2 class="text-center">Still have a question?</h2>
                <p>There is no way that this list includes every possible question. If you still need help, please do not hesitate to reach out 24 hours a day.</p>
            </div>
            <div class="col-1"></div>
        </div>
    </section>
    <section class="container">
        <h2 class="text-center">Contact us</h2>
        <p class="text-center">One size does not fit all, so the HoneyDo Helper gives you several contact options. Please ensure that you provide us with any information necessary to help solve your problems.</p>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 mt-5">
            <div class="col mb-3">
                <div class="card">
                    <div class="card-header">
                        <img src="/img/support/envelope-at-fill.svg" alt="Email Icon" class="tiny-icon">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Email</h5>
                        <p class="card-text">Email us 24 hours per day and expect a response within 48 hours. For more pressing issues, feel free to give us a call.</p>
                    </div>
                    <div class="card-footer">
                        <a href="mailto:Honeydohelpersupport@thehopeapproach.org">Honeydohelpersupport@thehopeapproach.org</a>
                    </div>
                </div>
            </div>

            <div class="col mb-3">
                <div class="card">
                    <div class="card-header">
                        <img src="/img/support/telephone-fill.svg" alt="Telephone Icon" class="tiny-icon">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Phone</h5>
                        <p class="card-text">Call 7 days a week between the hours of 8 am - 8 pm CST</p>
                    </div>
                    <div class="card-footer">
                        <a href="tel:+16092005254">(609) 200-5254</a>
                    </div>
                </div>
            </div>

            <div class="col mb-3">
                <div class="card">
                    <div class="card-header">
                        <img src="/img/support/building-fill.svg" alt="Building Icon" class="tiny-icon">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Office</h5>
                        <p class="card-text">Are you a business owner? If interested in advertising or registering your service staff as Honeydoers, visit our offices from 9 am - 5 pm CST.</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://maps.google.com?q=900+Jackson+St,+Dallas,+TX+75202" target="_blank" rel="noopener noreferrer">900 Jackson St, Dallas, TX 75202</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>

<footer th:replace="~{partials/footer.html :: footer}"></footer>

</body>
</html>