<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials/head.html :: head('Forgot Password')}">

</head>
<body>

<header th:replace="~{partials/header.html :: header}"></header>

<main>
    <section class="container">
        <form>
            <h1 class="">Forgot Password</h1>
            <div class="form-floating mb-4">
                <input type="text" class="form-control" id="floatingEmail" placeholder="Email" name="email">
                <label for="floatingEmail">Email</label>
            </div>
            <div class="mb-4 d-flex justify-content-between">
                <button type="submit" class="btn btn-warning">Reset Password</button>
            </div>
        </form>
    </section>
</main>

<footer th:replace="~{partials/footer.html :: footer}"></footer>
</body>
</html>