<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials/head.html :: head('Honeydoer Register')}">

</head>
<body>

<header th:replace="~{partials/header.html :: header}"></header>

<main>
    <section class="container">
        <div class="row">
            <h1>Show us what you got, <span th:text="${newHoneydoer.user.firstName}"></span>!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur laboriosam magni veritatis.
                Alias
            </p>
            <br><br>
            <div class="col-lg-3 col">
                <img th:src="@{/img/team/travis.png}" class="honeydoer-img"/>
            </div>
            <div class="col-lg-9 col">

                <form th:action="@{/register/honeydoer/{newHoneydoerId}(newHoneydoerId=${newHoneydoerId})}" method="post">
                    <div class="form-group mb-2 mt-3">
                        <label for="category" >Category:</label>
                        <select id="category" name="category" class="form-select form-control">
                            <option value=""  disabled selected>Select One</option>
                            <option value="category" th:each="category : ${categories}" th:text="${category.name + ' Service'}">Category Name</option>
                        </select>
                    </div>
                    <div class="form-group mb-2">
                        <label for="service">Service:</label>
                        <select id="service" name="service" class="form-select form-control" th:field="${honeydoerServices.services}">
                            <option value="" disabled selected>Select One</option>
                            <option value="service" th:each="service : ${services}" th:text="${service.name}" th:value="${service.id}">Service Name</option>
                        </select>
                    </div>
                    <div class="form-group mb-2">
                        <label for="experience">Your Experience:</label>
                        <textarea id="experience" name="experience" rows="4" class="form-control" maxlength="250"
                        th:field="${honeydoerServices.aboutService}"></textarea>
                    </div>

                    <div class="form-group mb-2">
                        <label for="hourly-rate">Your hourly rate:</label>
                        <input type="number" id="hourly-rate" name="hourly-rate" class="form-control"
                        th:field="${honeydoerServices.rate}"
                        >
                    </div>
                    <input type="hidden" th:field="${honeydoerServices.honeydoers}" th:value="${newHoneydoer}">
                    <button type="submit" class="honeydoer-submit mt-2">Add</button>
                </form>
            </div>
        </div>
    </section>
    <section class="container">
        <input type="submit" class="register-btn" value="Done">
    </section>
<!--    <section class="container" th:if="${honeydoerServices.services}">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-3 col">-->
<!--                <img th:src="@{/img/team/travis.png}" class="honeydoer-img"/>-->
<!--            </div>-->
<!--            <div class="col-lg-9 col">-->
<!--                <p class="mt-3">-->
<!--                    <strong>-->
<!--                        <span th:text="${honeydoerServices.categories.name}"></span>-->
<!--                    </strong>-->
<!--                </p>-->
<!--                <h3>-->
<!--                    <span th:text="${honeydoerServices.services.name}">Service Name</span>-->
<!--                </h3>-->
<!--                <p th:text="${honeydoerServices.aboutService}">Experience</p>-->
<!--                <h2>-->
<!--                    Rate: $<span th:text="${honeydoerServices.rate}">Rate</span>/hr-->
<!--                </h2>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
</main>

<footer th:replace="~{partials/footer.html :: footer}"></footer>
</body>
</html>