<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials/head.html :: head('Honeydoer Register')}">

</head>
<body>

<header th:replace="~{partials/header.html :: header}"></header>

<main>
    <section class="container">
        <div class="row col">
            <h1>Show us what you got, <span th:text="${newHoneydoer.user.firstName}"></span>!</h1>
            <div class="row row-cols-3 g-3 mb-5">
                <div class="col-1 col-lg-2"></div>

                <div class="col-10 col-lg-8">
                    <form th:action="@{'/register/honeydoer/' + ${newHoneydoer.id}}" th:method="post">

                        <div class="form-floating mb-3">
                            <select id="service" name="service" class="form-select form-control">
                                <option value="" disabled selected>Select One</option>
                                <option th:each="service : ${services}" th:text="${service.name}" th:value="${service.id}">
                                    Service Name
                                </option>
                            </select>
                            <label for="service">Service</label>
                        </div>

                        <div class="form-floating mb-3">
                            <textarea id="experience" name="experience" rows="4" class="form-control" maxlength="250"
                                      th:field="${honeydoerServices.aboutService}" placeholder="Your Experience"
                            ></textarea>
                            <label for="experience">Your Experience</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="number" id="hourly-rate" name="hourly-rate"
                                   class="form-control" placeholder="Your hourly rate"
                            >
                            <label for="hourly-rate">Your hourly rate</label>
                        </div>

                        <input type="hidden" th:value="${newHoneydoer.user.id}" name="honeydoerId">
                        <button type="submit" class="btn btn-warning mt-3">Add</button>
                    </form>
                </div>

                <div class="col-1 col-lg-2"></div>
            </div>

            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
                <div class="col mb-3" th:each="entry : ${honeydoerService}">
                    <div>
                        <p class="fw-bolder mb-0">
                            <span th:text="${entry.services.category.name}" >Name</span>
                        </p>

                        <img th:src="@{${entry.services.imgFilePath}}" class="img-fluid mb-3"/>

                        <h3>
                            <span th:text="${entry.services.name}">Service Name</span>
                        </h3>

                        <p th:text="${entry.aboutService}">Experience</p>

                        <h6>
                            Rate: $<span th:text="${entry.rate}">Rate</span> /hr
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <a class="btn btn-warning" th:href="@{/dashboard}">Done</a>
    </section>
</main>

<footer th:replace="~{partials/footer.html :: footer}"></footer>
</body>
</html>